#noteContainer {
    background-image: linear-gradient(to top, #130219 , #38064c);
    height: 800px;
    z-index: 95;
  }
  
.note {
    width: auto;
    height: 100px;
    z-index: 102;
}

.baseNote {
  width: auto;
  height: 100px;
  z-index: 101;
  filter: grayscale(100%);
  position: absolute;
  top: 500px;
}

.baseNote1 {
  left: 450px;
  transform: rotate(180deg);
}

.baseNote2 {
  left: 625px;
  transform: rotate(135deg);
}

.baseNote3 {
  left: 800px;
  transform: rotate(45deg);
}

.baseNote4 {
  left: 975px;
}
  
.leftNote {
    position: absolute;
    left: 450px;
    top: 0px;
    transform: rotate(180deg);
  }
  
.leftMiddleNote {
    position: absolute;
    left: 625px;
    top: 0px;
    transform: rotate(135deg);
  }
  
.rightMiddleNote {
    position: absolute;
    left: 800px;
    top: 0px;
    transform: rotate(45deg);
  }
  
.rightNote {
    position: absolute;
    left: 975px;
    top: 0px;
  }

/* #score {
  position: absolute;
  left: 100px;
  top: 200px;
  font-size: 2.5em;
  color: #4d4dff;
}

#noteStreak {
  position: absolute;
  left: 100px;
  top: 300px;
  font-size: 2.5em;
  color: #4d4dff;
} */
