#noteContainer {
    background-image: linear-gradient(to top, #130219 , #38064c);
    height: 100vh;
    z-index: 95;
}
 
.note {
    width: auto;
    height: 100px;
    z-index: 102;
}

.baseNote {
  width: auto;
  height: 100px;
  z-index: 101;
  filter: grayscale(100%);
  position: absolute;
  top: 500px;
}

.baseNote1 {
  left: 450px;
  transform: rotate(180deg);
}

.baseNote2 {
  left: 625px;
  transform: rotate(135deg);
}

.baseNote3 {
  left: 800px;
  transform: rotate(45deg);
}

.baseNote4 {
  left: 975px;
}
  
.leftNote {
    position: absolute;
    left: 450px;
    top: 0px;
    transform: rotate(180deg);
  }
  
.leftMiddleNote {
    position: absolute;
    left: 625px;
    top: 0px;
    transform: rotate(135deg);
  }
  
.rightMiddleNote {
    position: absolute;
    left: 800px;
    top: 0px;
    transform: rotate(45deg);
}
  
.rightNote {
    position: absolute;
    left: 975px;
    top: 0px;
}

/* Found at https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neonText {
    font-size: 2rem;
    color: #bbb;
    text-shadow:
        0 0 7px #bbb,
        0 0 10px #bbb,
        0 0 21px #bbb,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

#score {
  position:absolute;
  left: 100px;
  top: 300px;
}

#noteStreak {
  position:absolute;
  left: 100px;
  top: 400px;
}

#scoreMultiplier {
  position:absolute;
  left: 100px;
  top: 500px;
}

#begin {
  position: absolute;
  left: 640px;
  top: 48vh;
  background-color: black;
  width: 250px;
  height: 80px;
}

#pause {
  position: absolute;
  left: 1360px;
  top: 170px;
  background-color: black;
  width: 170px;
  height: 70px;
}

#restart {
  position: absolute;
  left: 1360px;
  top: 90px;
  background-color: black;
  width: 170px;
  height: 70px;
}

#mainMenu {
  position: absolute;
  left: 1360px;
  top: 10px;
  background-color: black;
  width: 170px;
  height: 70px;
}

#perfectNotes {
  position:absolute;
  left: 650px;
  top: 200px;
}

#greatNotes {
  position:absolute;
  left: 650px;
  top: 300px;
}

#goodNotes {
  position:absolute;
  left: 650px;
  top: 400px;
}

